<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Rate Youtubers</title>
</head>
<body>
  <div class="body-wrapper">
    {% include 'layout/nav.html' %}
    {% include 'layout/sidenav.html' %}
    
    <main class="main-wrapper">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    {% include 'layout/footer.html' %}
  </div>
  <script src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
  <script defer>
    // TODO it may be a better idea to handle JS in Materialize a little bit better
    M.AutoInit()
  </script>
</body>
</html>
