{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col s4"></div>
    <div class="col s4">
    <h4>Login</h4>
    <form method="POST">
      {{ form.csrf_token }}

      <div class="input-field">
        {{ form.email(class='validate ' + ('invalid' if form.email.errors|length else 'valid')) }}
        {{ form.email.label }}

        {% if form.email.errors|length %}
          <span class="helper-text" data-error="{{ form.email.errors[0] }}"></span>
        {% endif %}
      </div>

      <div class="input-field">
        {{ form.password(class='validate ' + ('invalid' if form.password.errors|length else 'valid')) }}
        {{ form.password.label }}
        {% if form.password.errors|length %}
          <span class="helper-text" data-error="{{ form.password.errors[0] }}"></span>
        {% endif %}
      </div>

      <button class="waves-effect btn">Submit</button>
    </form>
    </div>
    <div class="col s4"></div>
  </div>
{% endblock content %}
